html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    block scripts
      script(src='//code.jquery.com/jquery.min.js')
      script(src='//ajaxorg.github.com/ace/build/src/ace.js')
  body
    ul#menu
      li Edit
    #content
      block content